html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-source);
}

* {
  font-family: var(--font-source) !important;
  box-sizing: border-box;
}

.mat-body p, .mat-body-2 p, .mat-typography .mat-body p, .mat-typography .mat-body-2 p, .mat-typography p{
  margin: 0;
}


/*changing libs style */

.my-check.mat-mdc-checkbox {
  margin-left: -10px;

   .mdc-checkbox {
     min-width: 32px;
     min-height: 32px;

     .mdc-checkbox__background {
       width: 32px;
       height: 32px;
     }
   }

  .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
  .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
  .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background,
  .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
  .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
  .mdc-checkbox:hover .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background,
  .mdc-checkbox.mdc-ripple-upgraded--background-focused .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
  .mdc-checkbox.mdc-ripple-upgraded--background-focused .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
  .mdc-checkbox.mdc-ripple-upgraded--background-focused .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background,
  .mdc-checkbox:not(.mdc-ripple-upgraded):focus .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
  .mdc-checkbox:not(.mdc-ripple-upgraded):focus .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
  .mdc-checkbox:not(.mdc-ripple-upgraded):focus .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background,
  .mdc-checkbox:not(:disabled):active .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
    background-color: var(--color-secondary-5);
    border-color: var(--color-secondary-5);
  }

  .mdc-checkbox--selected~.mdc-checkbox__ripple{
    color: var(--color-secondary-5);
    background: var(--color-secondary-5);
  }

  .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background,
  .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background{
    border-color: var(--color-neutral-5);
  }
  .mdc-form-field>label {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: var(--color-neutral-5);
    font-family: var(--font-source);
  }
}

.mat-mdc-form-field-error{
  color: var(--color-error);
}
// input
.inputBlock {
  &.simple {
    margin-bottom: 5px;
    margin-top: 5px;

    .mat-mdc-form-field-bottom-align::before {
      content: none;
    }
    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
      padding-top: 17px;
    }
    .mat-mdc-form-field-subscript-wrapper, .mdc-line-ripple {
      height: 0;

    }
  }

  .mdc-text-field--invalid {
    border: 1px solid var(--color-error);
  }

   .mat-mdc-text-field-wrapper {
    border-radius: 8px;
    background-color: var(--color-neutral-1);
    height: 64px;

    .mat-mdc-form-field-flex {
      height: 100%;

      .mat-mdc-floating-label, .mat-mdc-input-element {
        top: 31px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: var(--color-neutral-5);
        font-family: var(--font-source);
      }

      .mat-mdc-input-element::placeholder {
        font-family: var(--font-source);
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: var(--color-neutral-5);
      }
    }
  }
}

.mat-mdc-select.mat-mdc-select-invalid {
  filter: brightness(0) saturate(100%) invert(18%) sepia(37%) saturate(4654%) hue-rotate(331deg) brightness(92%) contrast(89%);
}


.cdk-overlay-container .mdc-menu-surface.mat-mdc-select-panel {
  padding: 0;
}

.cdk-overlay-container {
  .mat-mdc-option {
    &:hover {
      background: var(--color-neutral-3) !important;
    }
  }

  .mat-mdc-option-active{
    background: none!important;
  }

  mat-option {
    border-bottom: 1px solid var(--color-neutral-3);

    &:last-child {
      border-bottom: none;
    }
    .mdc-list-item__primary-text {
      padding: 5px 0;
    }
  }
}

.mySelect{
  margin-bottom: 5px;
  margin-top: 5px;

  &.mat-form-field-invalid {
    .mat-mdc-text-field-wrapper{
      border: 1px solid var(--color-error);
    }
  }
  &.mat-form-field-disabled .mat-mdc-text-field-wrapper{
    cursor: not-allowed;
    //background: #55555575;
    opacity: 0.7;
    pointer-events: unset;
    &:active {
      pointer-events: none;
    }

    .mat-mdc-select-value-text, .mat-mdc-select-placeholder, .mat-mdc-select-value{
      cursor: not-allowed;
    }
  }

  .mat-mdc-form-field {
    .mat-mdc-text-field-wrapper {
      height: 64px;
    }
  }
  .mat-mdc-select-value {
    .mat-mdc-select-placeholder {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: var(--color-neutral-4)
    }
    .mat-mdc-select-value-text {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: var(--color-neutral-5);
    }
  }
  .mat-mdc-form-field-infix {
    padding-top: 18px!important;
  }

  .mat-mdc-form-field-subscript-wrapper, .mdc-line-ripple {
    height: 0;
  }
}

.pers {
  .line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    flex-wrap: wrap;

    p{
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: var(--color-neutral-5);
    }

    >p {
      margin-left: auto;
    }

    >div{
      display: flex;
      align-items: center;

      &:first-child {
        margin-right: 10px;
      }
      .img {
        margin-right: 11px;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
          max-width: 20px;
          width: 20px;
        }
      }
    }
  }
}

.mat-mdc-form-field-subscript-wrapper{
  height: 15px;
}

body .blue-btn-global {
  margin-top: auto;
  margin-left: auto;
  height: 64px!important;
  padding: 0 72px;
  border-radius: 8px;
  border: none;
  background: var(--color-primary-5);

  .mdc-button__label {
    display: flex;
    align-items: center;

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      color: var(--color-neutral-1);
      margin-right: 14px;
    }
  }
}


@media screen and (max-width: 1349px) {
  .inputBlock {
    .mat-mdc-text-field-wrapper {
      height: 56px;

      .mat-mdc-form-field-flex {
        height: 100%;

        .mat-mdc-form-field-infix {
          padding-top: 15px!important;
        }
      }
    }
  }

  body .blue-btn-global {
    height: 55px!important;
    padding: 0 40px;

    .mdc-button__label {
      display: flex;
      align-items: center;

      span {
        font-size: 26px;
        line-height: 26px;
        color: var(--color-neutral-1);
        margin-right: 14px;
      }
    }
  }
}

@media screen and (max-width: 979px) {
  .my-check.mat-mdc-checkbox {
    margin-left: -10px;

    .mdc-checkbox {
      min-width: 20px;
      min-height: 20px;

      .mdc-checkbox__background {
        width: 20px;
        height: 20px;
      }
    }

    .mdc-form-field>label {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .inputBlock {
    &.simple .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
      padding-top: 6px!important;
    }
    .mat-mdc-text-field-wrapper {
      height: 40px;

      .mat-mdc-form-field-flex {
        .mat-mdc-floating-label, .mat-mdc-input-element {
          top: 20px;
          font-weight: 400;
          font-size: 18px;
          line-height: 20px;
        }

        .mat-mdc-input-element::placeholder {
          font-weight: 400;
          font-size: 18px;
          line-height: 20px;
        }
        &:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix{
          padding-top: 16px!important;
        }
      }
    }
  }

  .mySelect{
    .mat-mdc-text-field-wrapper{
      height: 40px!important;
    }

    .mat-mdc-select-value {
      .mat-mdc-select-placeholder {
        font-size: 16px;
        line-height: 22px;
      }
      .mat-mdc-select-value-text {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .mat-mdc-form-field-infix {
      padding-top: 6px!important;
    }

  }

  .pers {
    .line {
      margin-bottom: 16px;

      p{
        font-size: 14px;
        line-height: 16px;
      }

      >div{
        display: flex;
        align-items: center;

        .img {
          margin-right: 10px;

          img{
            width: 15px;
            height: auto;
          }
        }
      }
    }
  }
}

.custom-tooltip {
  display: block !important;
  opacity: 1 !important;
  pointer-events: auto !important;

  div {
    background: var(--color-primary-5);
    color: var(--color-neutral-1);
  }

  body .blue-btn-global {
    height: 40px;
    padding: 0 24px;

    img{
      height: 8px;
      width: auto;
    }

    .mdc-button__label {
      span {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 32px;
        margin-right: 4px;
      }
    }
  }
}


.next {
  border-radius: 0!important;
}

button:focus .mdc-button__ripple, button:active .mdc-button__ripple {
  display: none!important;
}
