:root {
  // fonts
  --font-source: 'Source Sans Pro', sans-serif;

  // colors
  --color-neutral-1: #FFFFFF;
  --color-neutral-2: #ECECEC;
  --color-neutral-3: #C8C8C8;
  --color-neutral-4: #919191;
  --color-neutral-5: #484848;
  --color-neutral-6: #332426;
  --color-neutral-7: #220D15;

  --color-primary-1: #CAF9F7;
  --color-primary-2: #97F2F4;
  --color-primary-3: #5FD3DF;
  --color-primary-4: #36A9BF;
  --color-primary-5: #077495;
  --color-primary-6: #055A80;
  --color-primary-7: #03446B;

  --color-secondary-1: #FEFEF4;
  --color-secondary-2: #FDF298;
  --color-secondary-3: #FAE764;
  --color-secondary-4: #F6DB3D;
  --color-secondary-5: #F0CA00;
  --color-secondary-6: #CEAA00;
  --color-secondary-7: #AC8B00;

  --color-error: #9B2539;
  --color-success: #11873E;
}
