.wrap {
  width: 100%;
  height: 100%;

  .content {
    width: 100%;
    height: 100%;
    background: linear-gradient(341.01deg, rgba(253, 242, 152, 0.7) 0%, rgba(95, 211, 223, 0.7) 100%), #FEFEF4;
    padding: 80px 72px 40px 40px;
    overflow: auto;
    max-height: calc(100% - 135px - 135px);
    display: flex;
    flex-direction: column;

    h1{
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 40px;
      color: var(--color-neutral-5);
      margin-bottom: 32px;
      text-align: center;
      width: 100%;
    }

    .message-group {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 64px;

      >img{
        margin-right: 19px;
      }

      app-message::ng-deep {
        >div{
          margin-bottom: 0;
        }
      }
    }

    .texts {
      display: grid;
      grid-template-columns: 1.2fr 0.8fr;
      grid-gap: 60px;

      .block, .pers {
        margin: 0 auto 20px auto;
        width: 100%;

        .b-title {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          color: var(--color-neutral-5);
          margin-bottom: 24px;
          text-align: center;
        }

        .s-title{
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          color: var(--color-neutral-4);
          font-style: italic;
          margin-bottom: 24px;
          text-align: left;
        }

        .title {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          color: var(--color-neutral-5);
          margin-bottom: 14px;
        }

        .text {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: var(--color-neutral-5);
          margin-bottom: 14px;
        }
      }

      .pers {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 1349px) {
  .wrap {
    .content {
      max-height: calc(100% - 90px - 107px);
    }
  }
}

@media screen and (max-width: 979px) {
  .wrap {
    .content {
      padding: 24px 20px 24px 20px;
      max-height: calc(100% - 70px - 70px);

      h1{
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 24px;
      }

      .message-group {
        margin-bottom: 24px;

        >img{
          margin-right: 19px;
          width: 32px;
          min-width: 32px;
        }
      }

      .texts {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;

        .block, .pers {
          max-width: 100%;

          .b-title, .title {
            margin-bottom: 8px;
            font-size: 14px;
            line-height: 24px;
          }

          .title {
            margin-bottom: 14px;
          }

          .text {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 14px;
          }

          p .line {
            margin-bottom: 16px;

            p{
              font-size: 14px;
              line-height: 16px;
            }

            >div{
              display: flex;
              align-items: center;

              .img {
                margin-right: 10px;

                img{
                  width: 15px;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}
