
.btn-group{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-right: 10px;
}

.group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.close {
  margin-left: auto;
  height: 44px;
  padding: 0 15px;
  border: 1px solid rgba(72, 72, 72, 0.35);
  background: white;

  border-radius: 0;
  //background: #FFBA0D;
  box-shadow: 4px 6px 0 0 #000;
  color: #000;

  ::ng-deep {
    .mdc-button__label {
      display: flex;
      align-items: center;

      span {
        font-style: normal;
        color: var(--color-neutral-5);
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}
.next {
  margin-left: auto;
  height: 50px;
  //padding: 0 72px;
  border: none;
  border-radius: 8px;
  background: #FFBA0D;
  box-shadow: 4px 6px 0px 0px #000;
  color: #000;

  ::ng-deep {
    .mdc-button__label {
      display: flex;
      align-items: center;

      span {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        color: #000;
        margin-right: 14px;
      }
    }
  }
}


::ng-deep {
  .mat-mdc-dialog-actions{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

#dign {
  width: 100%;
  max-width: 500px;
  max-height: 250px;
  height: 250px;
  margin: 0 auto 20px auto;

  &.error {
    signature-pad{
      &:before {
        background: var(--color-error)!important;
      }
    }
    ::ng-deep{
      canvas {
        border-color: var(--color-error)!important;
      }
    }
  }

  signature-pad{
    background: white;
    position: relative;
    &:before {
      content: '';
      bottom: 20%;
      left: 15px;
      width: 85%;
      height: 1px;
      background: black;
      position: absolute;
      opacity: 0.1;
    }
  }
}

h1 {
  max-width: 630px;
}

@media screen and (max-width: 979px) {
  h1 {
    font-size: 22px;
  }

  .btn-group{
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-right: 0;
    grid-template-columns: minmax(auto, 120px) minmax(auto, 120px);

    button {
      max-width: 120px;
      margin: 0;
      max-height: 33px;
      span {
        font-size: 14px;
      }
    }
  }

  #dign {
    width: 100%;
    max-width: 500px;
    max-height: 200px;
    height: 200px;
    margin: 0 auto 20px auto;
  }
  .next {
    height: 45px;
    padding: 0 7px;

    ::ng-deep {
      .mdc-button__label {

        span {
          line-height: 24px;
          margin-right: 7px;
          font-size: 14px;
        }
        img {
          height: 10px;
          width: auto;
        }
      }
    }
  }

  .close {
    height: 40px;
    padding: 0 7px;
    border-radius: 5px;

    ::ng-deep {
      .mdc-button__label {

        span {
          font-size: 18px;
          line-height: 18px;
        }
      }
    }
  }
}
