.wrap {
  padding: 80px 72px 40px 40px;
  height: calc(100% - 135px);
  overflow: auto;
  display: grid;
  width: 100%;
  flex-direction: column;
  background: linear-gradient(134deg, #96e8f5 0%, #B2DCE2 33.65%, #F1EFC8 100%);
  h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: var(--color-neutral-5);
    margin-bottom: 10px;
    font-family: var(--font-source);
  }

  p{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: var(--color-neutral-5);
    margin-bottom: 140px;
    font-family: var(--font-source);

  }

  .blue-btn-global {
    margin-left: auto;
      height: 64px;
      padding: 0 72px;
      border: none;
      border-radius: 8px;
      background: #FFBA0D;
      box-shadow: 4px 6px 0px 0px #000;
      color: #000;
      &.brd {
        margin-left: auto;
      }
      &:disabled, &.disabled{
        background: rgba(255, 186, 13, 0.8);
        color: #000;
        cursor: not-allowed;
        pointer-events: unset;
        opacity: 0.8;

        ::ng-deep {
          .mdc-button__label {

            span {
              color: #000;
            }
            img {
              //filter: brightness(0) saturate(100%) invert(81%) sepia(4%) saturate(36%) hue-rotate(350deg) brightness(93%) contrast(108%);
            }
          }
        }
      }

      ::ng-deep {
        .mdc-button__label {
          display: flex;
          align-items: center;

          span {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            color: #000;
            margin-right: 14px;
          }
        }
      }
    }

  .check {
    margin-left: -10px;

    &.error {
      border-bottom: 1px solid var(--color-error);
    }

    ::ng-deep label {
      font-style: normal!important;
      font-weight: 500!important;
      font-size: 24px!important;
      line-height: 28px!important;
      letter-spacing: 0.5px!important;
      color: var(--color-neutral-6)!important;
      font-family: var(--font-source)!important;
    }
  }
  .check::ng-deep .mdc-checkbox {
    --mdc-checkbox-selected-focus-icon-color: #FFBA0D!important;
    --mdc-checkbox-selected-hover-icon-color: #FFBA0D!important;
    --mdc-checkbox-selected-icon-color: #FFBA0D!important;
    --mdc-checkbox-selected-pressed-icon-color: #FFBA0D!important;

    svg {
      color: #525151!important;
    }
    .mat-mdc-checkbox.mat-warn .mdc-checkbox--selected~.mdc-checkbox__ripple {
      background: #FFBA0D!important;;
    }
  }
}

@media screen and (max-width: 1349px) {
  .wrap {
    padding: 26px 33px;
    height: calc(100% - 90px);

  }
}

@media screen and (max-width: 979px) {
  .wrap {
    padding: 20px;
    height: calc(100% - 70px);

    h4 {
      font-size: 26px;
      line-height: 26px;
    }
    p{
      font-size: 18px;
      line-height: 18px;
    }
  }
}


.btn-c {
  margin-left: auto;
  margin-top: auto;
  background: red;
  z-index: 1;
}

.disabled {
  cursor: not-allowed;
}
