.box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 42px 40px;
  background: var(--color-primary-4);

  .next {
    margin-left: auto;
    height: 64px;
    padding: 0 72px;
    border: 3px solid var(--color-neutral-1);
    border-radius: 8px;

    ::ng-deep {
      .mdc-button__label {
        display: flex;
        align-items: center;

        span {
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 32px;
          color: var(--color-neutral-1);
          margin-right: 14px;
        }
      }
    }
  }

}


@media screen and (max-width: 1349px) {
  .box {
    padding: 26px 33px;

    .next {
      height: 55px;
      padding: 0 40px;

      ::ng-deep {
        .mdc-button__label {
          display: flex;
          align-items: center;

          span {
            font-size: 26px;
            line-height: 26px;
            color: var(--color-neutral-1);
            margin-right: 14px;
          }
        }
      }
    }

  }
}


@media screen and (max-width: 979px) {
  .box {
    padding: 15px 16px;

    .next {
      height: 40px;
      padding: 0 24px;
      border: 1px solid var(--color-neutral-1);

      img{
        height: 8px;
        width: auto;
      }

      ::ng-deep {
        .mdc-button__label {
          span {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 32px;
            margin-right: 4px;
          }
        }
      }
    }

  }
}
