:host {
  width: 100%;
  max-width: 510px;
  min-width: 510px;
  background-color: var(--color-primary-6);
  box-shadow: 8px 0 15px rgba(45, 119, 206, 0.1);
  padding: 42px 24px;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  max-height: 100%;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 1349px) {
  :host {
    max-width: 400px;
    min-width: 400px;
  }
}

@media screen and (max-width: 1199px) {
  :host {
    max-width: 350px;
    min-width: 350px;
  }
}

@media screen and (max-width: 979px) {
  :host {
    padding: 40px 23px;
    max-width: 400px;
    min-height: 100%;

    .logo {
      margin-bottom: 24px;

      img {
        width: 52px;
        height: auto;
      }
    }
  }
}
