:host{
  display: flex;
  overflow: auto;
  width: 100%;
  height: calc(100% - 135px - 135px);
  scroll-behavior: smooth;
  background: linear-gradient(341.01deg, rgba(253, 242, 152, 0.7) 0%, rgba(95, 211, 223, 0.7) 100%), #FEFEF4;
  flex-direction: column;
  padding: 80px 72px 40px 40px;
}

::ng-deep{
  app-edit-chat-page .wrap .content {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1349px) {
  :host{
    height: calc(100% - 90px - 107px);
  }
}

@media screen and (max-width: 979px) {
  :host{
    padding: 24px 20px 24px 20px;
    height: calc(100% - 70px - 70px);
  }
}
