.wrap{
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  overflow: hidden;

  .content {
    width: 100%;
    //max-width: calc(100% - 510px);
    max-width: 100%;
  }
}


@media screen and (max-width: 1349px) {
  .wrap .content {
    //max-width: calc(100% - 400px);
  }
}

@media screen and (max-width: 1199px) {
  .wrap .content {
    //max-width: calc(100% - 350px);
  }
}

@media screen and (max-width: 979px) {
  .wrap .content {
    max-width: 100%;
  }
}
