<div class="wrap">
<!--  <app-sidebar *ifViewportSize="'bigger_than_mobile'">-->
<!--    <ng-container *ngFor="let exp of explanationList">-->
<!--      <app-explanation-box [data]="exp"></app-explanation-box>-->
<!--    </ng-container>-->
<!--  </app-sidebar>-->

  <div class="content">
    <app-header *ngIf="showHeader">
      <ng-container *ngFor="let exp of explanationList">
        <app-explanation-box [data]="exp"></app-explanation-box>
      </ng-container>
    </app-header>

    <ng-content></ng-content>
  </div>
</div>
