<div class="wrap" *ngIf="controls?.length">

  <!-- EL input || autocomplete || date-->
  <mat-form-field class="inputBlock simple" *ngIf="filterByType(controls, 'input')?.length || filterByType(controls, 'input-autocomplete')?.length">
    <ng-container *ngIf="filterByType(controls, 'input')?.length">
      <ng-container *ngIf="controls[0].control_text !== 'Geburtsdatum'">
        <input type="text" matInput class="input" (input)="onInput($event)" [name]="controls[0].control_text"
               [formControl]="inputValidation" [placeholder]="controls[0].control_text" required>
      </ng-container>
      <ng-container *ngIf="controls[0].control_text === 'Geburtsdatum'">
          <input type="text" matInput class="input" (input)="onInput($event)" [name]="controls[0].control_text"
                 (dateInput)="onInput($event)"
                 [formControl]="inputValidation" [placeholder]="controls[0].control_text" [matDatepicker]="picker" required>
          <mat-datepicker #picker ></mat-datepicker>
         <mat-datepicker-toggle matIconSuffix [for]="picker" class="over-wrap"></mat-datepicker-toggle>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="filterByType(controls, 'input-autocomplete')?.length">
      <input type="text" matInput (input)="onInput($event)" [name]="controls[0].control_text"
             [formControl]="inputValidation" [placeholder]="controls[0].control_text" required
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let v of controls[0].autocomplete_data" [value]="v"
                    (onSelectionChange)="onInput($event)">{{v}}</mat-option>
      </mat-autocomplete>
    </ng-container>
    <mat-error *ngIf="inputValidation.errors && inputValidation.touched && controls[0]?.validation_error_text">
      {{controls[0]?.validation_error_text}}
    </mat-error>
  </mat-form-field>

  <!-- El dropdown-->
  <mat-form-field appearance="fill" *ngIf="filterByType(controls, 'dropdown-item')?.length" class="mySelect drop">
    <mat-select placeholder="Wähle eins" (selectionChange)="onDrop($event)" [id]="controls[0].control_text"
                [aria-label]="controls[0].control_text"
                [formControl]="dropValidation">
      <mat-option *ngFor="let select of filterByType(controls, 'dropdown-item')" [value]="select">
        {{select.control_text}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="dropValidation.errors && dropValidation.touched && controls[0]?.validation_error_text">
      {{controls[0]?.validation_error_text}}
    </mat-error>
  </mat-form-field>

  <!-- El btn-group-->
  <div class="btn-group" *ngIf="filterByType(controls, 'outlined-button-item')?.length">
    <ng-container *ngFor="let btn of controls">
      <button mat-flat-button *ngIf="btn.control_type === 'outlined-button-item'"
              (click)="onOutlet(btn)">
        {{btn.control_text}}
      </button>
    </ng-container>
  </div>

  <!-- El circle-->
  <ng-container *ngFor="let btn of controls">
    <button mat-stroked-button class="circle" (click)="onSelectQuestion(btn)"
            *ngIf="btn.control_type === 'circle'" [disabled]="isControlDisabled(btn.id)"
    >
      {{btn.control_text}}
    </button>
  </ng-container>

  <!-- El btn-next-->
  <ng-container *ngFor="let btn of controls">
    <!--default-->
    <ng-container *ngIf="
     !filterByType(controls, 'input')?.length &&
     !filterByType(controls, 'dropdown-item')?.length &&
     !filterByType(controls, 'outlined-button-item')?.length &&
     !filterByType(controls, 'input-autocomplete')?.length
     ">
      <button mat-stroked-button class="next" *ngIf="btn.control_type === 'button-next'" (click)="onSelect(btn)">
        <span>{{btn.control_text}}</span>
        <img src="assets/img/icons/arrow.svg" alt="arrow">
      </button>
    </ng-container>

    <!--if have input in controls-->
    <ng-container *ngIf="filterByType(controls, 'input')?.length">
      <button mat-stroked-button class="next" *ngIf="btn.control_type === 'button-next'"
              (click)="onInputNext()"
              [disabled]="!!inputValidation.errors"
      >
        <span>{{btn.control_text}}</span>
        <img src="assets/img/icons/arrow.svg" alt="arrow">
      </button>
    </ng-container>

    <!--if have autocomplete input in controls-->
    <ng-container *ngIf="filterByType(controls, 'input-autocomplete')?.length">
      <button mat-stroked-button class="next" *ngIf="btn.control_type === 'button-next'"
              (click)="onInputNext()"
              [disabled]="!!inputValidation.errors"
      >
        <span>{{btn.control_text}}</span>
        <img src="assets/img/icons/arrow.svg" alt="arrow">
      </button>
    </ng-container>

    <!--if have dropdown in controls-->
    <ng-container *ngIf="filterByType(controls, 'dropdown-item')?.length">
      <button mat-stroked-button class="next" *ngIf="btn.control_type === 'button-next'"
              (click)="onDropNext(btn)"
              [disabled]="!!dropValidation.errors">
        <span>{{btn.control_text}}</span>
        <img src="assets/img/icons/arrow.svg" alt="arrow">
      </button>
    </ng-container>

    <!--if have outlet in controls-->
    <ng-container *ngIf="filterByType(controls, 'outlined-button-item')?.length">
      <button mat-stroked-button class="next" *ngIf="btn.control_type === 'button-next'"
              (click)="onOutletNext(btn)"
              [disabled]="!outletControl && outletRequired">
        <span>{{btn.control_text}}</span>
        <img src="assets/img/icons/arrow.svg" alt="arrow">
      </button>
    </ng-container>
  </ng-container>
</div>

<div class="wrap" *ngIf="!controls?.length"></div>
