.wrap {
  height: 135px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 42px 40px;
  background: var(--color-primary-4);

  .next {
    height: 64px;
    padding: 0 72px;
    border: 3px solid var(--color-neutral-1);
    border-radius: 8px;

    ::ng-deep {
      .mdc-button__label {
        display: flex;
        align-items: center;

        span {
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 32px;
          color: var(--color-neutral-1);
          margin-right: 14px;
        }
      }
    }
  }

  .circle {
    width: 53px;
    height: 53px;
    max-height: 53px;
    max-width: 53px;
    min-width: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border-radius: 53px;
    border: 3px solid #FFFFFF;
    margin-right: 43px;
    background: none;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: var(--color-neutral-1);
    cursor: pointer;
    transition: 0.3s;

    ::ng-deep {
      .mdc-button__label {
        z-index: 1;
      }
    }

    &:disabled {
      cursor: not-allowed;
      background: #55555575;
      opacity: 0.7;
      pointer-events: unset;
      &:active {
        pointer-events: none;
      }
    }
  }


  .btn-group {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;

    button {
      height: 52px;
      background: var(--color-secondary-5);
      border-radius: 8px;
      padding: 0 28px;

      ::ng-deep {
        .mdc-button__label {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0.5px;
          color: #FFFFFF;
        }
      }

      &:disabled {
        cursor: not-allowed;
        background: #55555575;
        opacity: 0.7;
        pointer-events: unset;
        &:active {
          pointer-events: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1349px) {
  .wrap {
    padding: 26px 33px;
    height: 107px;

    .next {
      height: 55px;
      padding: 0 40px;

      ::ng-deep {
        .mdc-button__label {
          display: flex;
          align-items: center;

          span {
            font-size: 26px;
            line-height: 26px;
            color: var(--color-neutral-1);
            margin-right: 14px;
          }
        }
      }
    }

    .circle {
      width: 43px;
      height: 43px;
      max-height: 43px;
      max-width: 43px;
      min-width: 43px;
      margin-right: 33px;
      font-size: 26px;
      line-height: 26px;
    }

    .btn-group {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 16px;

      button {
        height: 52px;
        background: var(--color-secondary-5);
        border-radius: 8px;
        padding: 0 28px;

        ::ng-deep {
          .mdc-button__label {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.5px;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 979px) {
  .wrap {
    padding: 15px 16px;
    height: 70px;

    .next {
      height: 40px;
      padding: 0 24px;
      border: 1px solid var(--color-neutral-1);

      img{
        height: 8px;
        width: auto;
      }

      ::ng-deep {
        .mdc-button__label {
          span {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 32px;
            margin-right: 4px;
          }
        }
      }
    }

    .circle {
      width: 33px;
      height: 33px;
      max-height: 33px;
      max-width: 33px;
      min-width: 33px;
      margin-right: 33px;
      font-size: 18px;
      line-height: 18px;
      border-width: 1px;
    }

    .btn-group {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 8px;

      button {
        height: 40px;
        padding: 0 24px;

        ::ng-deep {
          .mdc-button__label {
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 0.5px;
          }
        }
      }
    }
  }
}
