.line {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin: 16px 0 40px 0;

  span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-neutral-7);
    margin: 0 ;
    width: 100%;
    text-align: center;

    &:before,&:after {
      background-color: var(--color-neutral-7);
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }

    &:before {
      right: 24px;
      margin-left: -50%;
    }

    &:after {
      left: 24px;
      margin-right: -50%;
    }
  }
}

@media screen and (max-width: 979px) {
  .line {
    margin: 0px 0 24px 0;
  }
}
