.box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 42px 40px;
  //background: var(--color-primary-4);
  background-color: #66cfe2;
  position: relative;
  //background-image: url(/assets/img/bg-01.png);
  background-size: 400px;
  background-position: bottom left;

  .next {
    margin-left: auto;
    height: 64px;
    padding: 0 72px;
    border: none;
    border-radius: 8px;
    background: #FFBA0D;
    box-shadow: 4px 6px 0px 0px #000;
    color: #000;

    ::ng-deep {
      .mdc-button__label {
        display: flex;
        align-items: center;

        span {
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 32px;
          color: #000;
          margin-right: 14px;
        }
      }
    }
  }

}


@media screen and (max-width: 1349px) {
  .box {
    padding: 26px 33px;
    background-size: 370px;

    .next {
      height: 55px;
      padding: 0 40px;

      ::ng-deep {
        .mdc-button__label {
          display: flex;
          align-items: center;

          span {
            font-size: 26px;
            line-height: 26px;
            color: #000;
            margin-right: 14px;
          }
        }
      }
    }

  }
}


@media screen and (max-width: 979px) {
  .box {
    padding: 15px 16px;
    background-size: 350px;

    .next {
      height: 40px;
      padding: 0 24px;

      img{
        height: 8px;
        width: auto;
      }

      ::ng-deep {
        .mdc-button__label {
          span {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 32px;
            margin-right: 4px;
          }
        }
      }
    }

  }
}
